<!-- Publish registered XYZRGB point cloud with software registered input -->
<launch>
    <node pkg="ORB_SLAM2" type="RGBD" name="RGBD" args="/home/mi/project/ws/src/ORB_SLAM2/Vocabulary/ORBvoc.txt /home/mi/project/ws/src/ORB_SLAM2/Examples/Monocular/TUM1.yaml" respawn="false">
        <remap from="/camera/depth_registered/image_raw" to="/camera/depth/image_rect_raw"/>
        <remap from="/camera/rgb/image_raw" to="/camera/color/image_rect_color"/>
    </node>
</launch>